.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.div-service{
    height: 5rem;
    width: 5rem;
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
    cursor: pointer;
}

.div-service:hover{
    transform: scale(1.1);
}